body{
    margin: 0px;
    background-image: url(https://apical.xyz/medias/commun/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* ------------------- Header ------------------- */
#logo{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 5%;
}

#image_apical{
    margin-top: 5%;
    width: 130%;
}

.nav_bar_icone{
    display: flex;
    justify-content: right;
}

.menuicones{
    display: flex;
    margin-left: 200%;
}

.icone img{
    width: 25px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.icone{
    margin-left: 15px;
    
}

.nav_bar_principale{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 0.5rem 1rem;
}

.icone_dropdown{
    margin-top: 10px;
    margin-left: 30px;
    
}

.dropdown-toggle{
    margin-bottom: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #888888;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}

li a{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: #585656;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.dropdown-icone{
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: #585656;
}

.dropdown-item{
    width: 100%;
    font-weight: 300;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}

.dropdown-item:hover{
    background-color: #ECECEC;
    width: auto;
}

li a:hover{
    color: #212529;
}

.nav_lien{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.fa-solid{
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 3px;
}

a{
    text-decoration: none;
}

#popup_authentification{
    display: none;
    position: fixed;
    background: #fff;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    text-shadow: none;
    z-index: 1;
    position: absolute;
    padding-top: 50px;
    margin-top: 25px;
}
.container_formulaire{
    display: flex;
    font-size: 15px;
}
.premier_container{
    gap: 80px;
}
.deuxieme_container{
    gap: 37px;
}
.troisieme_container{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 20px;
}
#sous_container_checkbox{
    width: 100px;
}
.sous_container_input{
    margin-bottom: 20px;
    margin-right: 35px;
}
.input{
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
}

.bouton {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 140px;
}
.soumettre_formulaire {
    text-shadow: none;
    background-image: linear-gradient(to bottom,#fff 0,#d5d5c8 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
}

.soumettre_formulaire:hover{
    text-shadow: none;
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
    background-image: linear-gradient(to top,#fff 0,#d5d5c8 100%);
}

.nouvel_usager{
    margin-left: 140px;
    color: blue;
}
.nouvel_usager:hover{
    text-decoration: underline;
    color: blue;
}

.fermeture_popup{
    display: none;
    background-color: black;
    opacity: 0.5;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    padding: 1px;
    z-index: 2;
    position: absolute;
    left: 355px;
    top: 18px;
}

.sous_fermeture{
    margin-top: 2px;
}
.fa-x{
    color: white;
    opacity: none;
}
#popup_authentification_principale{
    position: relative;
}


.fermeture_barre_recherche{
    display: none;
    background-color: black;
    opacity: 0.5;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    padding: 1px;
    z-index: 2;
    position: absolute;
    left: 1085px;
    top: 155px;
    
}
.barre_recherche{
    display: none;
    position: fixed;
    background: #fff;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    text-shadow: none;
    z-index: 1;
    position: absolute;
    height: 20px;
    width: 190px;
    margin-left: 150px;
    margin-top: 25px;
}
.container_barre_recherche{
    display: flex;
    align-content: center;
}
.image_barre_recherche{
    padding: 2px;
    width: 17px;
    
}
.container_image_barre_recherche{
    display: flex;
    justify-content: center;
}
.input_barre{
    padding-left: 5px;
    font-size: 15px;
}
.input_barre:focus{
    border: 2px solid #98BF64;
    outline: none;
    border-radius: 2px;
}

.dropdown_message_barre_recherche{
    width: 210px;
    margin-left: 180px;
    margin-top: 28px;
    
}

.container_image_barre_recherche:hover .dropdown-menu{
    display: block;
}
/* ------------------- Header Fin -------------------*/
/* ------------------- Contenu -------------------*/
.contenu_principale{
    display: flex;
    justify-content: center;
    
}
.contenu{
    background-color: #f7f7f7;
    height: auto;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.titre{
    text-align: center;
    padding-bottom: 5%;
}
.hr_contenu{
    width: 21%;
    border-top: 1px solid black;
}

#titre_posts{
    font-size: 20px;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}


.bouton_reduit {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-shadow: none;
    background-image: linear-gradient(to bottom,#fff 0,#d5d5c8 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
    border-color:#585656;

}

.bouton_reduit:hover{
    text-shadow: none;
    background-repeat: repeat-x;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
    background-image: linear-gradient(to top,#fff 0,#d5d5c8 100%);
}

.bouton_reduire_container{
    display: flex;
    justify-content: end;
}

.lien_contenu{
    color: #333;
}

.lien_contenu:hover{
    color: #5d69c0;
}

.lien_contenu_prinicpale{
    color: #333;
    font-weight: 500;
    font-size: 1.05rem;
    padding:0.75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
    color: black;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.lien_contenu_sous{
    margin: 0px;
    display: none;
    padding:0.75rem 2.5rem;
    padding-left: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid rgba(0,0,0,.125);
}

.sous_lien{
    color: #0a0dcd;
    font-size: 0.90rem;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;

}

.li_lien{
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-left: 30px;
}

.sous_lien:hover{
    color: #3538f4;
    
}

ul{
    list-style: none;
    
}

.visible{
    display: block;
}

.wp-block-heading{
    font-weight: normal;
    font-size: 20px;
    color: #5d69c0;
}
/* ------------------- Contenu Fin -------------------*/

/* ------------------- Page 404 -------------------*/
#lien_page_depannage{
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 30px;
    width: 120px;
}

.lien_404{
    color: blue;
    font-size: 15px;
    padding-bottom: 2px;
}

#texte_404{
    font-size: 15px;
}
/* ------------------- Page 404 fin -------------------*/
/* ------------------- footer ------------------- */

.container_pareil{
    width: 960px;
}

#sous_container_footer{
    padding-top: 25px;

}

.auteur{
    color: blue;
    font-family: 'Homemade Apple',cursive;
    background: url(/medias/commun/LienExterne.svg) center right no-repeat;
    background-size: 10px;
    padding: 5px 14px 0 0;
}

.auteur:hover{
    text-decoration: underline;
    color: #1F51FF;
}

.container_publicite{
    display: flex;
    justify-content: center;
}

.publicite{
    background-color: #f7f7f7;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 1000px;
    padding-bottom: 100px;
}

#hosting:hover{
    text-decoration: underline;
    color: #1F51FF;
}

.hr_premier{
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.hr_deuxieme{
    width: 1000px;
}

hr{
    
    margin-top: 10px;
    margin-bottom: 20px;
}

#container_footer_principale{
    background-color: #f7f7f7;
}

.text-center{
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    text-shadow: none;
    background-image: linear-gradient(to bottom,#fff 0,#d5d5c8 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
}

.btn-primary:hover{
    text-shadow: none;
    background-repeat: repeat-x;
    border-color: #ccc;
    background-color: transparent;
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.15);
    margin-bottom: 1rem;
    background-image: linear-gradient(to top,#fff 0,#d5d5c8 100%);
}
/*------------------- Footer Fin -------------------*/